/* CSS for the pop-up background */
.deck-name-popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.932);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* CSS for the pop-up container */
  .deck-name-popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center; /* Center the title */
  }
  
  .deck-name-h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  /* CSS for the form inside the pop-up */
  .deck-name-popup-form {
    display: flex;
    flex-direction: column;
  }
  
  /* CSS for the input field inside the pop-up */
  .deck-name-popup-form input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  /* CSS for the button container inside the pop-up */
  .deck-name-popup-button-container {
    display: flex;
    justify-content: center; /* Center the buttons */
  }
  
  /* CSS for the button inside the pop-up */
  .deck-name-popup-button {
    flex-grow: 1;
    padding: 10px;
    margin: 10px 5px; /* Adjust the button margin */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: calc(50% - 10px); /* Adjust the button width calculation */
    max-width: 200px; /* Set the maximum button width if needed */
  }
  
  .deck-name-popup-button:hover {
    background-color: #0056b3;
  }

.add-deck-manual-main {
    background-color: #141315;
    opacity: 1;
    background-image:  radial-gradient(#600657 2px, transparent 2px), radial-gradient(#600657 2px, #141315 2px);
    background-size: 80px 80px;
    background-position: 0 0,40px 40px;
    min-height: 100vh;
    padding-top: 50px;
}

 .add-deck-manual-main textarea {
  min-width: 300px;
  width: 40vw;
  height: 150px;
  resize: none;
}

.add-deck-manual-top {
  margin: 0 auto;
  border: 5px solid #fff;
  width: 40vw;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding: 40px;
  border-radius: 25px;


  background-color: #9d74c7;
  opacity: 1;
  background-image:  linear-gradient(30deg, #232223 12%, transparent 12.5%, transparent 87%, #232223 87.5%, #232223), linear-gradient(150deg, #232223 12%, transparent 12.5%, transparent 87%, #232223 87.5%, #232223), linear-gradient(30deg, #232223 12%, transparent 12.5%, transparent 87%, #232223 87.5%, #232223), linear-gradient(150deg, #232223 12%, transparent 12.5%, transparent 87%, #232223 87.5%, #232223), linear-gradient(60deg, #23222377 25%, transparent 25.5%, transparent 75%, #23222377 75%, #23222377), linear-gradient(60deg, #23222377 25%, transparent 25.5%, transparent 75%, #23222377 75%, #23222377);
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

.add-deck-h3 {
  font-size: 2rem;
}

.add-deck-manual-h2 {
  font-size: 2.5rem;
  margin-bottom: 0;
}