.deck-name-popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.932);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .deck-name-popup {
    padding: 20px;
    border-radius: 8px;
    border: 5px solid #fff;
    max-width: 400px;
    width: 100%;
    text-align: center; /* Center the title */
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #101012;
    background-image:  radial-gradient(#9B00E4 0.5px, transparent 0.5px), radial-gradient(#9B00E4 0.5px, #0a0a35 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
  }
  
  .deck-name-h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  /* CSS for the form inside the pop-up */
  .deck-name-popup-form {
    display: flex;
    flex-direction: column;
  }
  
  /* CSS for the input field inside the pop-up */
  .deck-name-popup-form input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  /* CSS for the button container inside the pop-up */
  .deck-name-popup-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  
  /* CSS for the button inside the pop-up */
  .deck-name-popup-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .deck-name-popup-button:hover {
    background-color: #0056b3;
  }

.add-deck-manual-main {
    min-height: 100vh;
    height: fit-content;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #101012;
    background-image:  radial-gradient(#9B00E4 0.5px, transparent 0.5px), radial-gradient(#9B00E4 0.5px, #101012 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

 .add-deck-manual-main textarea {
  width: 100%;
  height: 150px;
  resize: none;
}

.add-deck-manual-top {
  margin: 0 auto;
  border: 5px solid #fff;
  width: 60vw;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding: 40px;
  border-radius: 25px;
  margin-top: 70px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #101012;
  background-image:  radial-gradient(#9B00E4 0.5px, transparent 0.5px), radial-gradient(#9B00E4 0.5px, #0a0a35 0.5px);
  background-size: 20px 20px;
  background-position: 0 0,10px 10px;
}

.add-deck-input-container{
  width: 100%;
}

.add-deck-h3 {
  font-size: 1.5rem;
}

.add-deck-manual-h2 {
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: 0;
  border-bottom: 5px solid #fff;
  width: 100%;
  text-align: center;
}

.add-deck-input-buttons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}