.buy-tokens-main {
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
}
.buy-tokens-h2 {
    margin-top: 10vh;
    font-weight: bold;
    font-size: 3rem;
}
.buy-tokens-h2, .buy-tokens-p {
    color: #fff
}
.buy-tokens-p {
    color: blue;
    background-color: #fff;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.buy-tokens-background {
    background-color: #741495;
    opacity: 1;
    background-size: 14px 14px;
    background-image: repeating-linear-gradient(45deg, #949290 0, #949290 1.4000000000000001px, #741495 0, #741495 50%);
    height: 100%;
    min-height: 100vh;
}