.error-popup-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.877);
    z-index: 999;
  }
  
  .error-popup {
    width: 300px;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border: 5px solid #fff;
    background-color: #690087;
    opacity: 0.9;
    background-image: linear-gradient(-45deg, #690087, #690087 50%, #3f015e 50%, #3f015e);
    background-size: 4px 4px;
  }
  
  .error-message {
    margin-bottom: 20px;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    color: #fff;
  }
  
  .ok-button {
    min-width: 30%;
    padding: 5px;
    font-size: 1.4rem;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fcd444fe;
    font-weight: bold;
    color: #000000;
    border: 2px solid #fff;
    transition: background-color 0.3s;
  }
  
  .ok-button:hover {
    background-color: #e7b707;
    box-shadow: 0 0 10px 0 rgba(252, 0, 201, 0.5);        
  }
  
  .ok-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.3);
  }