.sidebar-container {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    transition: left 0.3s ease;
    z-index: 999;
    background-color: #1c1c42;
    opacity: 1;
    background-image: radial-gradient(#ab45f7 0.5px, #1c1c42 0.5px);
    background-size: 10px 10px;
    overflow-y: auto;
  }
  
  .sidebar-open {
    left: 0;
    border-right: 2px solid #fff;
  }
  
  .sidebar-ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-ul-li {
    padding: 10px;
  }

  .menu-div{
    color: #fff;
    margin-bottom: 20px;
    color: #fff;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    border-bottom: 5px solid #fff;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .sidebar-bottom-div{
    border-bottom: 5px solid #fff;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
  }

  .side-bar-logout-button-container{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
  }