/* FINISHED POPUP */

.finished-popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
  
  .finished-popup-main {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 80%;
  }
  
  .finished-popup-p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .finished-popup-button-container {
    display: flex;
    justify-content:center;
  }
  
  .finished-popup-button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    width: 45%;
    margin: 10px;
  }
  
  .finished-popup-button:hover {
    background-color: #0056b3;
  }

  /* STUDY SELECT */
  .study-select-main {
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    width: fit-content;
    border-radius: 5px;
  }

  @keyframes psychedelic {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .study-select-instructions {
    margin: 0 auto;
    width: 60vw;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    background-color: #101012;
    background-image:  radial-gradient(#9B00E4 0.5px, transparent 0.5px), radial-gradient(#9B00E4 0.5px, #101012 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    color: #fff;
    font-size: 1.5rem;
    border: 1px solid white;
  }

  .study-select-container {
    width: 60vw;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #101012;
    background-image:  radial-gradient(#9B00E4 0.5px, transparent 0.5px), radial-gradient(#9B00E4 0.5px, #101012 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    color: #fff;
    text-align: center;
    border: 1px solid white;
  }
  
  .study-h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .study-select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    background-color: #f8f9fa;
    margin-bottom: 20px;
  }
  
  .study-option {
    font-size: 16px;
  }
  
  .study-button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .study-button {
    width:30vw;
    padding: 5px;
    font-size: 1.4rem;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fcd444fe;
    font-weight: bold;
    color: #000000;
    border: 2px solid #fff;
    transition: background-color 0.3s;
  }
  
  .study-button:hover {
    background-color: #e7b707;
    box-shadow: 0 0 10px 0 rgba(252, 0, 201, 0.5);
  }

  .study-main{
    min-height: 100vh;
    height: fit-content;
    width: 100vw;
    position: absolute;
    font-family: 'Arial Narrow Bold', sans-serif;
    top: 0;
    left: 0;
    background-color: #101012;
    background-image:  radial-gradient(#9B00E4 0.5px, transparent 0.5px), radial-gradient(#9B00E4 0.5px, #101012 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
  }

  .study-select-title {
    font-size: 2rem;
    text-align: center;
  }