.saf-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.847);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
  }
  
  .saf-container {
    width: 300px;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border: 5px solid #fff;
    background-color: #690087;
    opacity: 0.9;
    background-image: linear-gradient(-45deg, #690087, #690087 50%, #3f015e 50%, #3f015e);
    background-size: 4px 4px;
  }
  
  .saf-message {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
  }